.card{
    width:300px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
    transition:0.3s;
    text-align:center;
    padding-bottom:20px;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.card-body{
    padding:18px;
}

.card-body h3{
    font-size:22px;
    margin-bottom:10px;
}

.card-body p{
    color:#666;
    margin-bottom:10px;
}

.price{
    font-size:24px;
    color:#ff4d88;
    font-weight:bold;
}
